---
import BaseLayout from '../layouts/BaseLayout.astro'
import Navigation from '../components/Navigation.astro'
import Hero from '../components/Hero.astro'
import Services from '../components/Services.astro'
import WhyUs from '../components/WhyUs.astro'
import Process from '../components/Process.astro'
import Results from '../components/Results.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
---

<BaseLayout>
  <Navigation />
  <main>
    <Hero />
    <Services />
    <WhyUs />
    <Process />
    <Results />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
